/* styles.css */

body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  background-color: #4d5b66;
  overflow-x: hidden;
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.image-section {
  position: relative;
  width: 100%;
}

.profile-image {
  width: 100%;
  height: auto;
  display: block;
}

.quote-section {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 30%;

  padding-bottom: 200px;
  text-align: center;
  background-color: lightblue;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.quote-section:before {
  content: "";
  position: absolute;
  padding: 7px 15px;
  bottom: -14px;
  right: -2px;
  background-color: lightblue;
  border-bottom-left-radius: 30px 20px;
}

.quote-section:after {
  content: "";
  position: absolute;
  padding: 7px 15px;
  bottom: 14px;
  right: 12px;
  border-bottom-left-radius: 30px 20px;
}

.quote {
  font-size: 1.2em;
  line-height: 35px;
}

.books {
  font-style: italic;
  padding: 200px;
  color: white;
  letter-spacing: 2px;
  line-height: 30px;
  border: white solid;
  border-radius: 20px;
  font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond,
    "Times New Roman", serif;
}

.books h2 {
  font-size: 5em;
  letter-spacing: 2px;
  color: white;
  font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond,
    "Times New Roman", serif;
}

.author-section {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: left;
  margin-left: 450px;
}

.author-name {
  font-size: 6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond,
    "Times New Roman", serif;
}

.menu {
  position: fixed;
  top: 10px;
  right: 100px;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  padding: 10px;
  margin-right: 10px;
  background-color: lightblue;
  border-radius: 20px;
}

/* Info -design */

.early-career {
  padding: 200px;
  color: white;
  letter-spacing: 2px;
  line-height: 20px;
  border: white solid;
  border-radius: 20px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: lightblue;
  color: black;
  border-radius: 20px;
}
